[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium = "*"
beautifulsoup4 = "*"
pandas = "*"
pymysql = "*"
undetected-chromedriver = "*"
setuptools = "*"
yfinance = "*"
matplotlib = "*"
pandas-datareader = "*"
openpyxl = "*"
scikit-learn = "*"
tqdm = "*"
sqlalchemy = "*"
statsmodels = "*"
mplcursors = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
